#flexbox-c1 {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
    align-items: flex-start;
    align-content: flex-end;
  }
}

#flexbox-c2 {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .box {
    width: 50%;
    height: 50%;
  }
}
